.content{
	width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
}
.p1{
	font-size: 16px;
	color: #666;
	padding-left: 15px;
}
.p1 span a{
	color: #666
}
.box2{
	margin-top: 15px;
}
.box2 img{
	width: 1200px;
	height: 300px;
}
.lie{
	margin-top: 15px;
}
.lie span{
	font-size: 16px;
    line-height: 34px;
    padding: 6px 25px;
    background-color: #005BAA;	
    color: #fff;
}
.main{
	    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    border: solid 1px #BBB4B4;
}
.cc_formOrder{
	width: 330px;
    height: 31px;
    line-height: 31px;
    background: url(../images/cc_formOrder.jpg) no-repeat;
}
.cc_formOrderinp1{
	width: 240px;
    height: 31px;
    line-height: 31px;
    font-size: 14px;
    color: #bfbdb8;
}
.cc_formOrderinp2{
	width: 76px;
    height: 31px;
}
.cc_formDeal{
    height: 31px;
    line-height: 31px;
}
.cc_formDeal label{
    font-size: 14px;
    color: #2a2a21;
}
.queInp{
    width: 155px;
    height: 25px;
    line-height: 25px;
    border: solid 1px #B8B8B8;
    padding: 0 5px;
    color: #2a2a21;
}
.butccQuery {
    width: 73px;
    height: 29px;
    background: url(../images/butccQuery.jpg) no-repeat;
}
.xUl{
	margin-top: 20px;
	height: 32px;
    line-height: 32px;
    margin-left: 10px;
}
.xUl_l1{
	float: left;
	width: 300px;
    background-color: #999;
    border: solid 1px #ccc;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.xUl_l2{
	float: left;
	width: 155px;
    background-color: #999;
    border: solid 1px #ccc;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.xUl_l3{
	float: left;
	width: 170px;
    background-color: #999;
    border: solid 1px #ccc;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.xUl_l4{
	float: left;
	width: 150px;
    background-color: #999;
    border: solid 1px #ccc;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.xUl_l5{
	float: left;
	width: 195px;
    background-color: #999;
    border: solid 1px #ccc;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.xUl_l6{
	float: left;
	width: 200px;
    background-color: #999;
    border: solid 1px #ccc;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.tb{
	margin-top: 15px;
    border: solid 1px #BBB4B4;
    margin-left: 10px;
    margin-bottom: 20px;
}
.tb_td1{
	background-color: #DEDFDF;
    height: 35px;
    line-height: 35px
}
.tb_td1 .dj{
	padding-left: 15px;
	font-size: 14px;
	line-height: 35px;
}
.tb_td1 .zf{
    float: right;
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
    height: 27px;
    line-height: 27px;
    background-color: #005BAC;
    padding: 0 10px;
    margin-top: 5px;
}
.tb_td2{
	padding-top: 15px;
    font-size: 14px;
	width: 301px;
    padding-bottom: 15px;
    border: solid 1px #BBB4B4;
}
.tb_td2_a{
    float: left;
    width: 90px;
    height: 90px;
    padding-left: 10px;
}
.tb_td2 .wp{
    float: left;
    margin-left: 20px;
    font-size: 14px;
    width: 160px;
    max-height: 67px;
    overflow: hidden;
    margin-top: 15px;
    line-height: 160%;
}
.tb_td3{
	font-size: 14px;
    text-align: center;
    border: solid 1px #BBB4B4;
    width: 156px;
}
.tb_td4{
	font-size: 14px;
    text-align: center;
    border: solid 1px #BBB4B4;
    width: 171px;
}
.tb_td5{
	font-size: 14px;
    text-align: center;
    border: solid 1px #BBB4B4;
    width: 151px;
}
.tb_td6{
	font-size: 14px;
    text-align: center;
    border: solid 1px #BBB4B4;
    width: 196px;
}
.tb_td7{
	font-size: 14px;
    text-align: center;
    border: solid 1px #BBB4B4;
    width: 201px;
}
.fenye{
	width: 1200px;
	margin: 0 auto;
}
.Paging_div{ height:40px; line-height:40px;}
.Paging_divson a{ float:left; color:#666; border:solid 1px #CECECE; margin-right:5px; padding-left:13px; padding-right:13px; background-color:#F4F4F4;}
.Paging_divson span{ float:left; margin:0 15px;}
.Paging_divson a.pagingA{ color:#0066CC; background:none;}
.Paging_divson a:hover{ color:#0066CC; text-decoration:none;}
.Paging_divson a.pagingFirst{ border:none; color:#0066CC; background:none;}
.Paging_divform label{ float:left; color:#666;}
.Paging_divform input.textInp{ float:left; border:solid 1px #eee; width:35px; height:35px; line-height:35px; text-align:center; margin:0 5px; color:#666;}
.Paging_divform input.fenYetj_sub{ float:left; border:solid 1px #eee; text-align:center; background-color:#F4F4F4; height:37px; font-family:"微软雅黑"; font-size:14px; width:45px; color:#666; margin-left:7px; cursor:pointer;}